<td><%= model.title %></td>
<td><%= image_tag model.media.url, class: 'image is-64x64' if model.media.attached? %></td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
<td><%= render partial: 'index_tr_actions', locals: { model: model } %></td>