<%= link_to({ action: 'new', **request.query_parameters.except(:id) }, data: { turbo_frame: '_top' }, class: 'button is-rounded is-info') do %>
  <%= svg_tag 'plus' %>
  <span><%= t('.new.title') %></span>
<% end %>
