<%= link_to({ action: 'new', **request.query_parameters.except(:id) }, data: { turbo_frame: '_top' }, class: 'button is-rounded is-primary') do %>
  <%= svg_tag 'plus' %>
  <span class="ml-1"><%= t('.new.title') %></span>
<% end %>
