<div class="fixed-grid has-2-cols p-3">
  <div class="grid">
  <% Cms::Catalog.default_where(default_params).each do |catalog| %>
    <%= link_to({ controller: 'cms/catalog/posts', catalog_id: catalog.id }, cell: 'cell') do %>
      <div class="box text-centered">
        <span><%= catalog.title %></span>
      </div>
    <% end %>
  <% end %>
  </div>
</div>